@page
@model Project.Pages.Adoptions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Adoption</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adoption.UserId" class="control-label"></label>
                <input asp-for="Adoption.UserId" class="form-control" />
                <span asp-validation-for="Adoption.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adoption.CenterId" class="control-label"></label>
                <input asp-for="Adoption.CenterId" class="form-control" value="Model.AdoptionCenter.CenterId" />
                <!-- <select asp-for="Adoption.CenterId" class ="form-control" asp-items="ViewBag.CenterId"></select> -->
            </div>
            <div class="form-group">
                <label asp-for="Adoption.DogId" class="control-label"></label>
                <input asp-for="Adoption.DogId" class="form-control" value="Model.AdoptionCenter.DogId" />
               @*  <input asp-for="Adoption.DogId" class="form-control" value="@Html.DisplayFor(model => Model.Dog.DogId)" readonly /> *@
                <!--<select asp-for="Adoption.DogId" class="form-control" asp-items="ViewBag.DogId"></select> -->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
