@page
@model Project.Pages.Donations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Donation.DonationId" />
            <div class="form-group">
                <label asp-for="Donation.UserId" class="control-label"></label>
                <select asp-for="Donation.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Donation.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donation.CenterId" class="control-label"></label>
                <select asp-for="Donation.CenterId" class="form-control" asp-items="ViewBag.CenterId"></select>
                <span asp-validation-for="Donation.CenterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donation.Amount" class="control-label"></label>
                <input asp-for="Donation.Amount" class="form-control" />
                <span asp-validation-for="Donation.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donation.DonationDate" class="control-label"></label>
                <input asp-for="Donation.DonationDate" class="form-control" />
                <span asp-validation-for="Donation.DonationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donation.ContactEmail" class="control-label"></label>
                <input asp-for="Donation.ContactEmail" class="form-control" />
                <span asp-validation-for="Donation.ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donation.ContactPhone" class="control-label"></label>
                <input asp-for="Donation.ContactPhone" class="form-control" />
                <span asp-validation-for="Donation.ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
