@page
@model Project.Pages.ThankyouModel
@{
}
<html>
<head>
<style>
        body {
            background-color: #faf4fc;
        }
        div{
            text-align: center;
        }
        h1{
            color: #816F7D;
        }
</style>
</head>
<body>
    <div>
        <br />
        <br />

        <br />

        <br />

        <br />


        <h1>Thank you, you're pawsome!</h1>
    </div>
</body>
</html>
